/* Styles for the recipe card component. */

.recipe-card {
 background-color: white;
 padding: 15px;
 width: 200px;
 border-radius: 8px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 text-align: center;
}

.recipe-card img {
 width: 100%;
 border-radius: 8px;
}

.recipe-card h3 {
 margin: 10px 0;
}

.recipe-card a {
 color: #007bff;
 text-decoration: none;
}